# Node
node_modules/
dist/
.env
backend/.env.production
k8s/secret.yml

# Python
__pycache__/
*.pyc
.venv/
venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
